@page
@model NZMartialArtsGymFinderWeb.Areas.Identity.Pages.Account.LoginModel

@{
	ViewData["Title"] = "Login";
}

<div class="text-center">
	<h1 class="display-4">Login</h1>
	<p>Dose this work?</p>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}